{% extends 'common/_base.html' %}
{% block title %}LDAP服务列表{% endblock %}
{% block content %}
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">LDAP服务列表</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">LDAP服务列表</h6>
                    <p class="card-description"><a href="/accounts/ldapserver/add/" class="btn btn-info btn-sm">添加 Ldap
                        Server</a></p>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>介绍</th>
                                <th>地址</th>
                                <th>端口</th>
                                <th>管理用户</th>
                                <th>使用SSL</th>
                                <th>LDAP类型</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in object_list %}
                                <tr>
                                    <td>{{ i.desc }}</td>
                                    <td>{{ i.host }}</td>
                                    <td>{{ i.port }}</td>
                                    <td>{{ i.user }}</td>
                                    <td>{{ i.use_ssl }}</td>
                                    <td>{{ i.ldap_server }}</td>

                                <td>
                                    <a  title="管理" href="/accounts/ldapserver/detail/{{ i.id }}/"><i
                                                data-feather="slack" class="icon-sm"> </i></a>
                                        &nbsp

                                    <a title="删除" href="javascript:void(0);" onclick="object_delete('/accounts/ldapserver','{{ i.id }}')"><i
                                                data-feather="x" class="icon-sm"> </i></a>
                                     <!--
                                    <a class="hidden-button" title="管理" href="/accounts/ldapserver/detail/{{ i.id }}/"><i
                                                data-feather="slack" class="icon-sm"> </i></a>
                                        &nbsp

                                 <a class="hidden-button" title="编辑" href="/accounts/ldapserver/update/{{ i.id }}/"><i
                                                data-feather="edit" class="icon-sm"> </i></a>
                                        &nbsp

                                        <a class="hidden-button" title="删除" href="javascript:void(0);" onclick="object_delete('/accounts/ldapserver','{{ i.id }}')"><i
                                                data-feather="x" class="icon-sm"> </i></a>
                                                -->
                            </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}